<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/results">

<h1>Conversion Form</h1>
<div></div>
Converting from <input type="text" id="frm" name="frm">
<div>
Converting to <input type="text" id="to" name="to">
</div>
Amount <input type="number" step="0.000000000001" id="amt" name="amt">
<div>   
<button>Convert</button>
</div>
</form>

{% for msg in get_flashed_messages() %}
<p>{{msg}}</p>
{% endfor %}

</body>
</html>


